#avatar {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: visible;
  box-shadow: var(--avatar-border-color) 0 0 0 2px;
  transform: translateZ(0);

  img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
